$schema:(
    primary: #007bff,
    secondary: #6c757d,
    success: #28a745,
    successHover: #99b4a6,
    info: #17a2b8,
    warning: #ffc107,
    danger: #dc3545,
    light: #f8f9fa,
    darkWithOpacity: rgba(138, 133, 133, 0.2),
    white: #fff,

)